.header {
    margin: 0;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    max-width: 1280px;
}

.header_row {
    display: flex;
    column-gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.header_nav ul {
    
    display: flex;
    align-items: center;
    
    padding: 0px;
}

.header_nav li {

    list-style-type: none;
    margin-right: 15px;
}

.header_nav a {
    color: #7575E2;
}

.header_search {
    display: flex;
    align-items: center;
    color:grey;
}

.basket {
    padding-right: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    background-color:chartreuse;
    border-radius: 150px;
    color:#7575E2;
    max-width: 444px;
    max-height: 44px;
}

